.techList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0 50px;
}

@media screen and (min-width: 768px) {
    .techList {
        flex-direction: row;
        gap: 20px;
    }
}

.techList a.active {
    color: cornflowerblue;
    border-color: cornflowerblue;
    pointer-events: none;
}
