body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.button {
    display: block;
    min-width: 100px;
    padding: 10px;

    border: 1px solid lightgray;
    border-radius: 4px;
    text-align: center;

    transition: all 350ms ease-in-out; /* vendorless fallback */
    -o-transition: all 350ms ease-in-out; /* opera */
    -ms-transition: all 350ms ease-in-out; /* IE 10 */
    -moz-transition: all 350ms ease-in-out; /* Firefox */
    -webkit-transition: all 350ms ease-in-out; /*safari and chrome */
}

.button:hover,
.button:focus {
    color: cornflowerblue;
    border-color: cornflowerblue;
}
